<header class="header-glass active">
    <div>
        <img src="images/xpecto-logo-header.png" alt="" />
        <span>XPECTO'22</span>
    </div>
    <nav>
        <a id="" href="/#home">Home</a>
        <a id="" href="/#about">About Us</a>
        <a id="" href="/#sponsors">Sponsors</a>
        <a id="" href="/events">Events</a>
        <!-- <a id="faq" href="/faq">Faq</a> -->
        <a id="ourteam" href="/ourteam">Our Team</a>
        <% if(!authenticated){ %>
        <a id="sign" href="/auth/google"
            ><i class="fa-brands fa-google"></i> SignIn</a
        >
        <a id="" href="/#contact">Contact Us</a>

        <% }else{ %>
        <a id="sign" href="/profile"><i class=""></i> Profile</a>
        <a id="sign" href="/auth/logout"
            ><i class="fa-brands fa-google"></i> Logout</a
        >
        <a id="" href="/#contact">Contact Us</a>
        <% } %>
    </nav>
    <div class="hamburger">
        <img class="toggle" src="images/menu_open.svg" alt="" />
    </div>
</header>
