<div class="menu">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/payment">Register</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/sponsors">Sponsors</a></li>
        <li><a href="/team">Our Team</a></li>
        <% if(authenticated){ %>
        <li><a href="/profile">Profile</a></li>
        <%}%>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="contact">Contact</a></li>
        <li><a href="/about">About Us</a></li>
    </ul>
</div>
