<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./css/socialIcons.css" type="text/css" />
    </head>
    <body>
        <ul class="social">
            <div class="rounded-social-buttons" style="padding-top: 30px">
                <a class="social-button facebook" href="#" target="_blank"
                    ><i class="fab fa-facebook-f"></i
                ></a>
                <a
                    class="social-button twitter"
                    href="https://twitter.com/XpectoTech"
                    target="_blank"
                    ><i class="fab fa-twitter"></i
                ></a>
                <a
                    class="social-button linkedin"
                    href="https://www.linkedin.com/in/xpecto-tech-710930236/"
                    target="_blank"
                    ><i class="fab fa-linkedin"></i
                ></a>
                <a class="social-button youtube" href="#" target="_blank"
                    ><i class="fab fa-youtube"></i
                ></a>
                <a
                    class="social-button instagram"
                    href="https://www.instagram.com/xpecto.tech/"
                    target="_blank"
                    ><i class="fab fa-instagram"></i
                ></a>
                <h5 style="padding-top: 30px">© Xpecto'22, IIT Mandi</h5>
            </div>
            <!-- <li>
                        <a href="#"
                            ><img src="https://i.ibb.co/x7P24fL/facebook.png"
                        /></a>
                    </li>
                    <li>
                        <a href="#"
                            ><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"
                        /></a>
                    </li>
                    <li>
                        <a href="#"
                            ><img src="https://i.ibb.co/ySwtH4B/instagram.png"
                        /></a>
                    </li> -->
        </ul>
    </body>
</html>
