body {
    width: 100vw;
    background-color: #171717;
    background-image: url("../images/xpecto_tempwall.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    background-attachment: fixed;
    margin: 0;
    font-family: helvetica;
}

section {
    padding: 60px 0;
    min-height: 100vh;
}
.contact-info {
    display: inline-block;
    width: 100%;
    height:100%;
    text-align: center;
    margin-bottom: 10px;
}

.col-md-4{
    margin-bottom: 10px;
}
.contact-info-icon {
    margin-bottom: 15px;
}
.contact-info-item {
    background: #0e0f19;
    padding: 30px 0px;
    height:100%;
}
.contact-page-sec .contact-page-form h2 {
    color: #0e0f19;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 700;
}
.contact-page-form .col-md-6.col-sm-6.col-xs-12 {
    padding-left: 0;
}

.contact-info-icon i {
    font-size: 48px;
    color: #fda40b;
}

.contact-info-text p {
    margin-bottom: 0px;
}
.contact-info-text h2 {
    color: #fff;
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact-info-text span {
    color: #999999;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    width: 100%;
}

.contactus {
    /* background: #0e0f19; */
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: #fffcff;
}
.heading {
    font-family: "Assistant", sans-serif;
    font-family: "Open Sans", sans-serif;
}
.heading h1 {
    color: black;
}

.heading span {
    color: red;
}
textarea {
    resize: none;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    white-space: nowrap;
}
@media screen and (max-width:480px) {
    .row{
        flex-direction:column;
    }
}
.svg-inline--fa {
    vertical-align: -0.2em;
}

.rounded-social-buttons {
    text-align: center;
}

.rounded-social-buttons .social-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    border: 0.125rem solid transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #fefefe;
    font-size: 1.5625rem;
    font-weight: normal;
    line-height: 2em;
    border-radius: 1.6875rem;
    transition: all 0.5s ease;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover,
.rounded-social-buttons .social-button:focus {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter,
.fa-facebook-f,
.fa-linkedin,
.fa-youtube,
.fa-instagram {
    font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
    background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover,
.rounded-social-buttons .social-button.facebook:focus {
    color: #3b5998;
    background: #fefefe;
    border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
    background: #55acee;
}

.rounded-social-buttons .social-button.twitter:hover,
.rounded-social-buttons .social-button.twitter:focus {
    color: #55acee;
    background: #fefefe;
    border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
    background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover,
.rounded-social-buttons .social-button.linkedin:focus {
    color: #007bb5;
    background: #fefefe;
    border-color: #007bb5;
}

.rounded-social-buttons .social-button.youtube {
    background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:hover,
.rounded-social-buttons .social-button.youtube:focus {
    color: #bb0000;
    background: #fefefe;
    border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
    background: #ff8882;
}

.rounded-social-buttons .social-button.instagram:hover,
.rounded-social-buttons .social-button.instagram:focus {
    color: #ff8882;
    background: #fefefe;
    border-color: #ff8882;
}
