.countdown {
    display: flex;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
    background-color: transparent;
    margin-top: -5px;
}

.time {
    font-size: 30px;
}

.countdown div {
    margin: 0 2rem;
    text-align: center;
    border: 2px solid #fff;
    padding: 5px 20px;
    padding-bottom: 10px !important;
    color: #fff;
    min-width: 100px;
    min-height: 100px;
    border-radius: 15px;
    box-shadow: 0px 2px 20px #fff;
    box-sizing: border-box;
}
.days {
    font-size: 50px;
}

@media (max-width: 992px) {
    .countdown div {
        margin: 0 1rem;
    }
}
@media (max-width: 767px) {
    .countdown {
        flex-wrap: wrap;
    }
    .countdown div {
        margin: 1rem auto;
        max-width: 30px;
    }
}
@media (max-width: 700px) {
    .countdown div {
       /* margin: 0 10px;
        margin-bottom: 10px;
        margin-right: 15px;
        margin-left: 65px;
        margin: 0 2rem;*/
    text-align: center;
    border: 2px solid #fff;
    padding: 5px 20px;
    padding-bottom: 10px !important;
    color: #fff;
    min-width: 100px;
    min-height: 100px;
    border-radius: 15px;
    box-shadow: 0px 2px 20px #fff;
    box-sizing: border-box;
    }
}
.coming {
    padding-bottom: 20px;
    color: #f27a0e;
    text-align: center;
}
