#cursor {
    position: absolute;
    animation: rotate 2s infinite linear;
    transition: 100ms ease;
    pointer-events: none;
    z-index: 1000;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (hover: none) {
    #cursor {
        display: none;
        opacity: 0;
    }
}