@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lacquer&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
:root {
    --header-height: 3rem;
    /*===== Colors =====*/
    --first-color: #5B65F5;
    --first-color-light: #C4C7F5;
    --dark-color: #0E1026;
    --white-color: #FBFBFB;
    /*===== Font and typography =====*/
    --body-font: 'Open Sans', sans-serif;
    --nav-name-font-size: 1.5rem;
    --normal-font-size: .938rem;
    /*===== z index =====*/
    --z-fixed: 100;
}

* {
    position: relative;
    padding: 0;
    margin: 0;
}

body,
html {
    height: 100%;
    width: 100vw;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.home {
    transition: ease-in 2s;
    z-index: 100;
    height: 100vh;
    opacity: 0;
}

.sound {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 1000;
}

#toggle {
    border: none;
    background: none;
    color: white;
    font-size: 2.5vw;
}

@media screen and (max-width:768px) {
    .sound {
        right: 15px;
        bottom: 15px;
    }
    #toggle {
        font-size: 2vh;
    }
}
