.bg {
    height: 100vh;
    width: 100vw;
    background: url("../images/xpecto_tempwall.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* background: url("https://user-images.githubusercontent.com/56690827/162190335-422b76d8-99a5-4fca-97e9-5a22d3154800.png"); */
    background-color: #171717;
    position: fixed;
    z-index: -1000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5.5em;
    padding: 0;
}

.bg h1 {
    color: #ce121225;
}

.preload p,
h1 {
    text-align: center;
    margin: 0;
    padding: 0;
    color: #eeebdd;
}

.preloader {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: ease-in 2s;
    z-index: 100;
    padding: 0;
    margin: 0;
}

.enter a {
    border: none;
    background: none;
    font-weight: 900;
    margin: 10px;
    font-size: 30px;
    text-decoration: none;
    color: #eeebdd;
}

.enter:hover {
    transform: translateX(10px);
}

.enter:hover img {
    opacity: 1;
    height: 40px;
    width: 32px;
    transform: rotate(0);
}

.enter img {
    opacity: 0;
    height: 0;
    width: 0;
    transform: rotate(-540deg);
    transition: ease-in 0.75s;
}

.enter {
    display: flex;
    flex-direction: row;
    transition: ease 1s;
    justify-content: center;
    align-items: center;
}

/* .logo {
    height: auto;
    width: auto;
} */

@media screen and (max-width: 768px) {
    h1 {
        max-width: 100vw;
    }
    .bg h1 {
        font-size: 11vh;
    }
    body {
        height: 100%;
        overflow-x: hidden;
        width: 100vw;
    }
}
