
        @import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");
        @import url("https://fonts.googleapis.com/css?family=Dancing+Script&display=swap");
        @import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            background: #fff;
            background: url("../images/xpecto_tempwall.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: fixed;
           
            font-family: "Open Sans", sans-serif;
        }


        /*heading styling*/
        #head-section {
            font-family: "Open Sans", sans-serif;
            color: #2e3d49;
            position: relative;
        }
        .heading {
            width: 100%;
            /*position: relative;*/
            justify-content: center;
            align-items: center;
        }
        .heading .content {
            margin: 10px;
            text-align: center;
            padding: 10px 100px;
            font-size: 1.1em;
        }

        /*sponsor*/
        .spon {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        .spon .s-card img {
            width: 100px;
            display: flex;
            justify-content: center;
        }
        .spon a {
            padding: 0;
            margin: 40px 10px;
        }
        .spon .s-card {
            display: flex;
            justify-content: space-around;
            padding: 10px;
            background-image: linear-gradient(
                rgba(255, 255, 255, 0.7),
                rgba(255, 255, 255, 0.4)
            );
            align-items: center;
            text-align: center;
            width: 250px;
            height: 150px;
            box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.05),
                0 0 50px rgba(0, 0, 0, 0.8);
            border-radius: 5px;
            cursor: pointer;
            transition-duration: 0.5s;
        }
        .spon .s-card p {
            color: #f2f2f2;
            font-size: 1.2em;
            font-family: "Open Sans", sans-serif;
        }
        .spon .s-card:hover {
            box-shadow: 0 0 50px rgba(255, 255, 255, 0.8);
            transform: translateY(-10px);
        }
        footer {
            position: absolute;
            bottom: auto;
            left: 0;
            right: 0;
            background: #111;
            height: auto;
            width: 100vw;

            padding-top: 40px;
            color: #fff;
        }
        .footer-content {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
        }
        .footer-content h3 {
            font-size: 2.1rem;
            font-weight: 500;
            text-transform: capitalize;
            line-height: 3rem;
        }
        .footer-content p {
            max-width: 500px;
            margin: 10px auto;
            line-height: 28px;
            font-size: 14px;
            color: #cacdd2;
        }
        .socials {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1rem 0 3rem 0;
        }
        .socials li {
            margin: 0 10px;
        }
        .socials a {
            text-decoration: none;
            color: #fff;
            border: 1.1px solid white;
            padding: 5px;

            border-radius: 50%;
        }
        .socials a i {
            font-size: 1.1rem;
            width: 20px;

            transition: color 0.4s ease;
        }
        .socials a:hover i {
            color: aqua;
        }

        .footer-bottom {
            background: #000;
            width: 100%;
            padding: 20px;
            padding-bottom: 40px;
            text-align: center;
        }
        .footer-bottom p {
            float: left;
            font-size: 14px;
            word-spacing: 2px;
            text-transform: capitalize;
        }
        .footer-bottom p a {
            color: #44bae8;
            font-size: 16px;
            text-decoration: none;
        }
        .footer-bottom span {
            text-transform: uppercase;
            opacity: 0.4;
            font-weight: 200;
        }
        .footer-menu {
            float: right;
        }
        .footer-menu ul {
            display: flex;
        }
        .footer-menu ul li {
            padding-right: 10px;
            display: block;
        }
        .footer-menu ul li a {
            color: #cfd2d6;
            text-decoration: none;
        }
        .footer-menu ul li a:hover {
            color: #27bcda;
        }

        @media (max-width: 500px) {
            .footer-menu ul {
                display: flex;
                margin-top: 10px;
                margin-bottom: 20px;
            }
        }
