HTML CSSResult Skip Results Iframe
EDIT ON
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lacquer&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
body {
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Open Sans', sans-serif; */
  /* height: 100vh; */
  display: flex;
  align-items: center;
}
:root {
    --header-height: 3rem;
    /*===== Colors =====*/
    --first-color: #5B65F5;
    --first-color-light: #C4C7F5;
    --dark-color: #0E1026;
    --white-color: #FBFBFB;
    /*===== Font and typography =====*/
    --body-font: 'Open Sans', sans-serif;
    --nav-name-font-size: 1.5rem;
    --normal-font-size: .938rem;
    /*===== z index =====*/
    --z-fixed: 100;
}

* {
    position: relative;
    padding: 0;
    margin: 0;
}

body,
html {
    height: 100%;
    width: 100vw;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.home {
    transition: ease-in 2s;
    z-index: 100;
    height: 100vh;
    opacity: 1;
}

.sound {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 1000;
}

#toggle {
    border: none;
    background: none;
    color: white;
    font-size: 2.5vw;
}


overlay2{
  background: #706ea8;
  mix-blend-mode: overlay;
}

.logo{
  font-size: 1.5em;
  font-weight: bold;
}

.container{
  /* all: unset; */
  display: flex;
  flex-direction: column;
  height: 72vh;
  overflow: scroll;
}

.container::-webkit-scrollbar {
  display: none;
}
.container{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  overflow-y: scroll;
}

.container span{
  all: unset;
  font-size: 3em;
  text-align: center;
  padding: 0.9em 0 0.5em 0;
  font-weight: bold;
  opacity: 0;
  transform: scale(0.81);
  transition: opacity 2.1s, transform 2.1s;
}

.team-content h5{
  color: var(--dark-color);
  padding: 9px 3px 3px 3px;
  padding-top: 9px;
  padding-bottom: 3px;
  height: 1.8em;
  overflow: hidden;
}

a.col-3 img{
  height: 2.1em;
  margin-bottom: 7px;
}

.Organiser .col-12 {
  opacity: 0;
  transform: translateY(100px) scale(1.1);
  transition: opacity 2.1s, transform 2.1s;
}

.Organiser .animate{
  opacity: 1;
  transform: translateY(0) scale(1);
}

.container .space {
  padding-top: 100px;
}
.container span.animate{
  opacity: 1;
  transform: scale(1);
}

.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: rgba(245, 245, 245, 0.7);
  text-align: center;
  overflow: hidden;
  position: relative;
  height: 18em;
  border-radius:10px;
}

.our-team .picture {
  display: inline-block;
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
}

/* .our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #947eda;
  position: absolute;
  bottom: 180%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
} */

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(3, 3, 4, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 12px #ffffff;
  transform: scale(0.81);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #8749c6;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: -100%;
  left: 0;
  transition: all 0.5s ease 0s;
  color: #ffffff;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #8749c6;
  background-color: #f7f5ec;
}

.introduccion {
  font-size:9pt;
}
