<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="icon"
            type="image/x-icon"
            href="images/xpecto-logo-header.png"
        />
        <script
            src="https://kit.fontawesome.com/a1542a4884.js"
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" href="styles/page.css" />
        <link rel="stylesheet" href="styles/style.css" />

        <title>Events | Xpecto</title>
    </head>

    <style>
        #page .container {
            padding-top: 2.5rem;
            width: 250px;
        }
        #page .heading span {
            font-size: 2.5rem;
            padding-right: 2.5rem;
            transform: skew(0deg);
        }

        #page .heading {
            line-height: 1.5;
            padding-left: 7.5rem;
            padding-top: 25%;
            display: flex;
            align-items: baseline;
            transform: skewX(-7.5deg);
        }
    </style>
    <body>
        <!-- -----HEADER INCLUDING LOGO AND NAVBAR----- -->
        <header class="header-glass active">
            <div>
                <img src="images/xpecto-logo-header.png" alt="" />
                <span>XPECTO'22</span>
            </div>
            <nav>
                <a id="" href="/#home">Home</a>
                <a id="" href="/#about">About Us</a>
                <a id="" href="/#contact">Contact Us</a>
                <a id="" href="/#sponsors">Sponsors</a>
                <a id="" href="events.html">Events</a>
                <a id="faq" href="#">Faq</a>
                <% if(!authenticated){ %>
                <a id="sign" href="/auth/google"
                    ><i class="fa-brands fa-google"></i> SignIn</a
                >
                <% }else{ %>
                <a id="sign" href="/profile"><i class=""></i> Profile</a>
                <a id="sign" href="/auth/logout"
                    ><i class="fa-brands fa-google"></i> Logout</a
                >
                <% } %>
            </nav>
            <div class="hamburger">
                <img class="toggle" src="images/menu_open.svg" alt="" />
            </div>
        </header>
        <!-- -----HEADER END----- -->

        <div class="" id="page">
            <div class="container">
                <div class="heading">
                    <span>&nbsp;E</span>
                    <span>&nbsp;V</span>
                    <span>&nbsp;E</span>
                    <span>&nbsp;N</span>
                    <span>&nbsp;T</span>
                    <span>&nbsp;S</span>
                </div>
            </div>
            <div class="content">
                <div class="events-list-container">
                    <!-- card start -->
                    <% for (let i = 0; i < events.length; i++) { %>
                    <div class="event-card-container">
                        <div class="event-card">
                            <div class="event-name"><%= events[i].name %></div>
                            <a href="#"
                                ><button class="info">
                                    <i
                                        class="fa-solid fa-arrow-right fa-2x"
                                    ></i></button
                            ></a>
                            <hr />
                            <div class="event-description">
                                <%= events[i].content %>
                            </div>
                            <hr />

                            <a href="/event?event=<%=events[i].name %>"
                                ><button class="event-register">
                                    Register
                                </button></a
                            >

                            <a href="#"
                                ><button class="event-problem">
                                    Problem Set
                                </button></a
                            >
                        </div>
                    </div>
                    <% } %>
                    <!-- card end -->
                </div>
            </div>
        </div>
        <script src="scripts/script.js"></script>
    </body>
</html>
