<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="icon"
            type="image/x-icon"
            href="images/xpecto-logo-header.png"
        />
        <link rel="stylesheet" href="styles/style.css" />
        <link rel="stylesheet" href="styles/home-parallax.css" />

        <!-- -----FONT AWESOME ICONS----- -->
        <script
            src="https://kit.fontawesome.com/a1542a4884.js"
            crossorigin="anonymous"
        ></script>

        <title>Xpecto</title>
    </head>

    <body>
        <!-- -----HEADER INCLUDING LOGO AND NAVBAR----- -->
        <header class="header-glass active">
            <div>
                <img src="images/xpecto-logo-header.png" alt="" />
                <span>XPECTO'22</span>
            </div>
            <nav>
                <a id="" href="#home">Home</a>
                <a id="" href="#about">About Us</a>
                <a id="" href="#contact">Contact Us</a>
                <a id="" href="#sponsors">Sponsors</a>
                <a id="faq" href="">Faq</a>
                <a id="" href="events.html">Events</a>
                <a id="sign" href="/users/googleauth"
                    ><i class="fa-brands fa-google"></i> SignIn</a
                >
            </nav>
            <div class="hamburger">
                <img class="toggle" src="images/menu_open.svg" alt="" />
            </div>
        </header>

        <!-- -----HEADER END----- -->

        <main>
            <!-- -----HOME SECTION WITH PARALLAX EFFECT----- -->
            <section class="hero" id="home">
                <img
                    src="images/1.png"
                    class="translateX"
                    data-speed="0.25"
                    id="moon"
                    alt=""
                />
                <img
                    src="images/2.png"
                    class="translateY"
                    data-speed="0.35"
                    id="clouds"
                    alt=""
                />
                <img
                    src="images/3.png"
                    class="translateY"
                    data-speed="0.5"
                    id="mount"
                    alt=""
                />
                <h1 id="text" class="translateX" data-speed="-5">XPECTO'22</h1>
                <a href="#counter" id="btn"
                    >Explore <i class="fa-solid fa-arrow-down"></i
                ></a>
                <img
                    src="images/4.png"
                    class="translateY"
                    data-speed="0"
                    id="base"
                    alt=""
                />
            </section>
            <!-- -----HOME SECTION END----- -->

            <!-- -----COUNTER SECTION START----- -->
            <section id="counter">
                <div class="content">
                    <div class="countdown">
                        <div>
                            <span class="heading">Days</span>
                            <p id="days" class="time">00</p>
                        </div>
                        <div>
                            <span class="heading">Hours</span>
                            <p id="hours" class="time">00</p>
                        </div>
                        <div>
                            <span class="heading">Minutes</span>
                            <p id="minutes" class="time">00</p>
                        </div>
                        <div>
                            <span class="heading">Seconds</span>
                            <p id="seconds" class="time">00</p>
                        </div>
                    </div>
                    <div class="floating-logo">
                        <img src="images/xpecto-logo-body.png" alt="" />
                    </div>
                </div>
            </section>
            <!-- -----COUNTER SECTION END----- -->

            <!-- -----ABOUT SECTION START-----   -->
            <section id="about">
                <div class="heading">ABOUT US</div>
                <div class="content">
                    SnTC ,short for, Science and Technology Council is IIT
                    Mandi's Technical Society. It is a body of students advised
                    by faculty. Some events of SnTC are Inter IIT Tech Meet,
                    Avishkar and Utkarsh.
                    <br />
                    Xpecto is science and technology festival of Indian
                    Institute of Technology, Mandi It has been ramped up to
                    include the most electrifying events, prompting great
                    discoveries, as well as enthralling brainstorming and grand
                    prizes. Each Technical Club will host some exciting events
                    that will highlight and award participants' greatest ideas
                    and breakthroughs. So get in touch with your pals, mark your
                    calendars, and get ready for Xpecto 2022-23.
                </div>

                <!-- -----BUTTONS FOR T&C AND PRIVACY POLICY-----  -->
                <div class="pages-btn">
                    <a href="tnc.html"
                        ><button class="btn1 tnc">Terms & Conditions</button></a
                    >
                    <a href="#"
                        ><button class="btn1 priv">Privacy Policy</button></a
                    >
                </div>
                <!-- -----BUTTONS END----- -->
            </section>
            <!-- -----ABOUT SECTION END----- -->

            <!-- CONTACT SECTION START  -->
            <section id="contact">
                <div class="heading">Get In Touch</div>
                <div class="content">
                    <!-- -----CARD FOR ADDRESS-----  -->
                    <div class="address-card card">
                        <div class="ribbon ribbon-top-left">
                            <span>ADDRESS</span>
                        </div>
                        <div class="address-content">
                            <i class="fa-solid fa-location-dot fa-2x"></i>
                            <div class="address">
                                Xpecto <br />
                                SNTC, IIT Mandi <br />
                                Kamand, Himachal Pradesh <br />
                                INDIA
                            </div>
                        </div>
                    </div>
                    <!-- -----ADDRESS END----- -->

                    <!-- -----CARD FOR EMAIL-----  -->
                    <div class="email-card card">
                        <div class="ribbon ribbon-top-left">
                            <span>EMAIL</span>
                        </div>
                        <div class="email-content">
                            <i class="fa-solid fa-envelope fa-2x"></i>
                            <div class="email">team@xpecto.tech</div>
                        </div>
                    </div>
                    <!-- -----EMAIL END----- -->

                    <!-- -----CARD  FOR PHONE-----  -->
                    <div class="phone-card card">
                        <div class="ribbon ribbon-top-left">
                            <span>PHONE</span>
                        </div>
                        <div class="phone-content">
                            <i class="fa-solid fa-phone fa-2x"></i>
                            <div class="phone">
                                <div>Surendra: <span>8094876054</span></div>
                                <div>Lalit: <span>9990991108</span></div>
                                <div>Paras: <span>7860688567</span></div>
                            </div>
                        </div>
                    </div>
                    <!-- -----PHONE END----- -->
                </div>

                <!-- -----SOCIAL HANDLES ICONS-----  -->
                <div class="social">
                    <div>
                        <a href="#">
                            <i class="fa-brands fa-facebook-square fa-3x"></i>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <i class="fa-brands fa-twitter-square fa-3x"></i>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <i class="fa-brands fa-linkedin fa-3x"></i>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <i class="fa-brands fa-instagram-square fa-3x"></i>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <i class="fa-brands fa-youtube-square fa-3x"></i>
                        </a>
                    </div>
                </div>
                <!-- -----ICONS END----- -->
            </section>
            <!-- -----CONTACT SECTION END----- -->

            <!-- -----SPONSORS SECTION----- -->
            <section id="sponsors">
                <div class="heading">Sponsors</div>
                <div class="content">
                    <div class="spon">
                        <img src="images/xpecto-logo-body.png" alt="" />
                    </div>
                    <div class="spon card">
                        <img src="images/xpecto-logo-body.png" alt="" />
                    </div>
                    <div class="spon card">
                        <img src="images/xpecto-logo-body.png" alt="" />
                    </div>
                    <div class="spon card">
                        <img src="images/xpecto-logo-body.png" alt="" />
                    </div>
                    <div class="spon card">
                        <img src="images/xpecto-logo-body.png" alt="" />
                    </div>
                    <div class="spon card">
                        <img src="images/xpecto-logo-body.png" alt="" />
                    </div>
                </div>
            </section>
            <!-- -----SPONSORS SECTION END----- -->
        </main>

        <footer></footer>

        <script src="scripts/script.js"></script>
        <script src="scripts/countdown.js"></script>
    </body>
</html>
