<!DOCTYPE html>
<html>
    <head>
        <title>Login | Xpecto</title>
        <!-- CSS only -->
        <link href="./css/login.css" rel="stylesheet" type="text/css" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous"
        />
        <!-- font-awesome -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
            referrerpolicy="no-referrer"
            integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
            crossorigin="anonymous"
        />
    </head>
    <style>
      html,
      body {
          width: 100%;
          height: 100%;
      }
      html .container,
      body .container {
          display: flex;
          justify-content: center;
          align-items: center;
      }
      html .container .login-form-wrapper,
      body .container .login-form-wrapper,
      html .container .login-form-wrapper .login-input,
      body .container .login-form-wrapper .login-input {
          display: flex;
          flex-direction: column;
          justify-content: center;
      }
      html .container .login-form-wrapper,
      body .container .login-form-wrapper {
          background: rgba(255, 255, 255, 0.15);
          box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.25);
          backdrop-filter: blur(2px);
          -webkit-backdrop-filter: blur(4px);
          border-radius: 24px;
          border: 1px solid rgba(255, 255, 255, 0.2);
      }
      html,
      body {
          font-family: "Lato", sans-serif;
          /* background-image: url("https://github.com/keycloak/keycloak/blob/main/themes/src/main/resources/theme/keycloak/login/resources/img/keycloak-bg.png?raw=true"); */
          background-image: url("../images/xpecto_tempwall.png");
      }
      html .container,
      body .container {
          width: inherit;
          height: inherit;
      }
      html .container .logo,
      body .container .logo {
          margin: 0 64px 0 0;
          text-align: right;
      }
      html .container .logo h4,
      body .container .logo h4 {
          color: #8f8f8f;
          font-size: 30px;
      }
      html .container .login-form-wrapper,
      body .container .login-form-wrapper {
          padding: 40px;
          min-width: 360px;
      }
      html .container .login-form-wrapper .login-input label,
      body .container .login-form-wrapper .login-input label {
          margin-bottom: 8px;
          color: #fff;
          font-weight: bold;
      }
      html .container .login-form-wrapper .login-input input,
      body .container .login-form-wrapper .login-input input,
      html .container .login-form-wrapper .login-input input:focus,
      body .container .login-form-wrapper .login-input input:focus {
          border: none;
          outline: none;
          border-radius: 8px;
          font-size: 16px;
          line-height: 24px;
          vertical-align: middle;
          padding: 8px 16px;
          margin-bottom: 16px;
      }
      html .container .login-form-wrapper .login-input #usernameRequiredMessage,
      body .container .login-form-wrapper .login-input #usernameRequiredMessage,
      html .container .login-form-wrapper .login-input #passwordRequiredMessage,
      body .container .login-form-wrapper .login-input #passwordRequiredMessage {
          display: none;
          color: red;
          font-weight: 700;
      }
      html .container .login-form-wrapper .login-button,
      body .container .login-form-wrapper .login-button {
          border: none;
          outline: none;
          border-radius: 8px;
          font-size: 16px;
          line-height: 24px;
          vertical-align: middle;
          padding: 8px 16px;
          background: #0188ce;
          color: #fff;
          font-weight: 700;
      }
      .error {
          border: 1px solid red !important;
      }
      .login-with-google-btn {
          transition: background-color 0.3s, box-shadow 0.3s;
          padding: 12px 16px 12px 42px;
          border: none;
          border-radius: 3px;
          box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
          color: #757575;
          font-size: 14px;
          font-weight: 500;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
              Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
              sans-serif;
          background-image: url("https://user-images.githubusercontent.com/56690827/162671333-98e921ee-a8bd-4b22-a538-1bce8ff2e7a4.svg");
          background-color: white;
          background-repeat: no-repeat;
          background-position: 12px 11px;
      }
      .login-with-google-btn:hover {
          box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
      }
      .login-with-google-btn:active {
          background-color: #eee;
      }
      .login-with-google-btn:focus {
          outline: none;
          box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
              0 0 0 3px #c8dafc;
      }
      .login-with-google-btn:disabled {
          filter: grayscale(100%);
          background-color: #ebebeb;
          box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
          cursor: not-allowed;
      }
      body {
          text-align: center;
          padding-top: 2rem;
      }
    </style>
    <body>
        <div class="container">
            <div class="logo m-1">
              <img src="https://user-images.githubusercontent.com/56690827/162669761-372be060-ea2f-4712-b77f-d9f8c6a89622.png" />
              <!-- <h4>Xpecto'22</h4> -->
            </div>
            <form id="loginForm" class="login-form-wrapper">
              <!-- <div class="login-input">
                <label for="username">Username or email:</label>
                <input autocomplete="off" id="username" type="text" name="username" />
                <p id="usernameRequiredMessage">Username or email is required</p>
              </div>
              <div class="login-input">
                <label for="password">Password:</label>
                <input autocomplete="off" id="password" type="password" name="password" />
                <p id="passwordRequiredMessage">Password is required</p>
              </div>
              <input id="loginButton" class="login-button" type="submit" value="Log In" /> -->
              <br>
              </a><button type="button" class="login-with-google-btn" >
                  <a href="/auth/google">
                  Sign in with Google
                  </a>
                </button>
            </form>
            
          </div>
          <script >
              document.getElementById("password").addEventListener("keyup", function () {
          _toggleEmptyValidation(this.value, "password", "passwordRequiredMessage");
        });
        
        document.getElementById("username").addEventListener("keyup", function () {
          _toggleEmptyValidation(this.value, "username", "usernameRequiredMessage");
        });
        
        document.getElementById("loginButton").onclick = function () {
          _authenticate();
          return false;
        };
        
        function _toggleEmptyValidation(value, inputId, messageId) {
          let input = document.getElementById(inputId);
          let message = document.getElementById(messageId);
          value == "" ? input.classList.add("error") : input.classList.remove("error");
          message.style.display = value == "" ? "block" : "none";
        }
        
        function _authenticate() {
          let username = document.getElementById("username").value;
          let password = document.getElementById("password").value;
        
          if (username == "" || password == "") {
            _toggleEmptyValidation(username, "username", "usernameRequiredMessage");
            _toggleEmptyValidation(password, "password", "passwordRequiredMessage");
          } else {
            if (username == "admin" && password == "Password@123") {
              alert("Login successfully");
            } else {
              alert("Login failed");
            }
          }
        }
        
          </script>
    </body>
</html>
