<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/main.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.slim.min.js" integrity="sha512-6ORWJX/LrnSjBzwefdNUyLCMTIsGoNP6NftMy2UAm1JBm6PRZCO1d7OHBStWpVFZLO+RerTvqX/Z9mBFfCJZ4A==" crossorigin="anonymous"></script>
    <title>Pukaar - Technical Fest</title>
</head>

<body>
    <div class="bg"></div>
    <div class="main">
        <div class="preloader">
            <h1 style="color: red;">Pukaar </h1>
            <h1 style="color: red;">The Technical Fest of IIT Mandi</h1>
            <div class="enter">
                <img src="./images/arrow-right.svg" alt="arrow-right">
                <a id="enter" href="#">Enter</a>
            </div>
        </div>
        <div class="home"></div>
    </div>


    <script src="./js/scroll.js"></script>
</body>

</html>