<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%- title %></title>
        <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-light mb-5" style="background-color: #22527b">
            <div class="container">
                <a class="navbar-brand mx-auto" href="/">
                    <img
                        src=""
                        alt="logo"
                        class="d-inline-block align-top pull-left"
                    />
                </a>
            </div>
        </nav>
        <div class="row d-flex justify-content-center">
            <div class="col-8 col-lg-4">
                <h3 class="text-center mb-5">Welcome to Nexus'22</h3>

                <figure>
                    <blockquote class="blockquote">
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing
                            elit. Explicabo nisi aliquid quaerat. Minima
                            corrupti, beatae at sunt debitis, dolore harum
                            ratione id eaque ducimus tenetur maxime! Laudantium
                            maxime ut reprehenderit.
                        </p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Anatole France
                    </figcaption>
                </figure>

                <div class="d-grid mt-4">
                    <a href="/payment" type="button" class="btn btn-primary"
                        >Donate</a
                    >
                    <div class="form-text text-center">
                        Please donate something, uparwala tumhara bhala karega.
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
