<!DOCTYPE html>
<html>
    <head>
        <link rel="shortcut icon" type="png" href="" />
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Comaptible" content="IE=edge" />
        <title>Sponsors | Xpecto</title>
        <meta name="desciption" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script type="text/javascript" src="script.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous"
        />

        <style>
            @import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");
            @import url("https://fonts.googleapis.com/css?family=Dancing+Script&display=swap");
            @import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

            * {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
            }

            body {
                background: url("../images/xpecto_tempwall.png");
                background: #fff;
                font-family: "Open Sans", sans-serif;
            }

            .bg {
                height: 100vh;
                width: 100vw;
                background: url("../images/xpecto_tempwall.png");
                /* background: url("https://user-images.githubusercontent.com/56690827/162190335-422b76d8-99a5-4fca-97e9-5a22d3154800.png"); */
                background-color: #171717;
                position: fixed;
                z-index: -1000;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 5.5em;
                padding: 0;
            }

            /*heading styling*/
            #head-section {
                font-family: "Open Sans", sans-serif;
                color: #2e3d49;
                position: relative;
            }
            .heading {
                width: 100%;
                /*position: relative;*/
                justify-content: center;
                align-items: center;
            }
            .heading .content {
                margin: 10px;
                text-align: center;
                padding: 10px 100px;
                font-size: 1.1em;
            }

            /*sponsor*/
            .spon {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
            }

            .spon .s-card img {
                width: 100px;
                display: flex;
                justify-content: center;
            }
            .spon a {
                padding: 0;
                margin: 40px 10px;
            }
            .spon .s-card {
                display: flex;
                justify-content: space-around;
                padding: 10px;
                background-image: linear-gradient(
                    rgba(255, 255, 255, 0.7),
                    rgba(255, 255, 255, 0.4)
                );
                align-items: center;
                text-align: center;
                width: 250px;
                height: 150px;
                box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.05),
                    0 0 50px rgba(0, 0, 0, 0.8);
                border-radius: 5px;
                cursor: pointer;
                transition-duration: 0.5s;
            }
            .spon .s-card p {
                color: #f2f2f2;
                font-size: 1.2em;
                font-family: "Open Sans", sans-serif;
            }
            .spon .s-card:hover {
                box-shadow: 0 0 50px rgba(255, 255, 255, 0.8);
                transform: translateY(-10px);
            }
            footer {
                position: absolute;
                bottom: auto;
                left: 0;
                right: 0;
                background: #111;
                height: auto;
                width: 100vw;

                padding-top: 40px;
                color: #fff;
            }
            .footer-content {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;
            }
            .footer-content h3 {
                font-size: 2.1rem;
                font-weight: 500;
                text-transform: capitalize;
                line-height: 3rem;
            }
            .footer-content p {
                max-width: 500px;
                margin: 10px auto;
                line-height: 28px;
                font-size: 14px;
                color: #cacdd2;
            }
            .socials {
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 1rem 0 3rem 0;
            }
            .socials li {
                margin: 0 10px;
            }
            .socials a {
                text-decoration: none;
                color: #fff;
                border: 1.1px solid white;
                padding: 5px;

                border-radius: 50%;
            }
            .socials a i {
                font-size: 1.1rem;
                width: 20px;

                transition: color 0.4s ease;
            }
            .socials a:hover i {
                color: aqua;
            }

            .footer-bottom {
                background: #000;
                width: 100%;
                padding: 20px;
                padding-bottom: 40px;
                text-align: center;
            }
            .footer-bottom p {
                float: left;
                font-size: 14px;
                word-spacing: 2px;
                text-transform: capitalize;
            }
            .footer-bottom p a {
                color: #44bae8;
                font-size: 16px;
                text-decoration: none;
            }
            .footer-bottom span {
                text-transform: uppercase;
                opacity: 0.4;
                font-weight: 200;
            }
            .footer-menu {
                float: right;
            }
            .footer-menu ul {
                display: flex;
            }
            .footer-menu ul li {
                padding-right: 10px;
                display: block;
            }
            .footer-menu ul li a {
                color: #cfd2d6;
                text-decoration: none;
            }
            .footer-menu ul li a:hover {
                color: #27bcda;
            }

            @media (max-width: 500px) {
                .footer-menu ul {
                    display: flex;
                    margin-top: 10px;
                    margin-bottom: 20px;
                }
            }

            /* navbar styling */

            header {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                padding: 40px 100px;
                z-index: 1000;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            header .logo {
                color: #fff;
                text-transform: uppercase;
                cursor: pointer;
            }

            .toggle {
                position: relative;
                width: 60px;
                height: 60px;
                background: url(https://i.ibb.co/HrfVRcx/menu.png);
                background-repeat: no-repeat;
                background-size: 30px;
                background-position: center;
                cursor: pointer;
            }

            .toggle.active {
                background: url(https://i.ibb.co/rt3HybH/close.png);
                background-repeat: no-repeat;
                background-size: 25px;
                background-position: center;
                cursor: pointer;
            }

            .showcase {
                position: absolute;
                right: 0;
                width: 100%;
                min-height: 100vh;
                padding: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: url("../images/xpecto_tempwall.png");
                background-attachment: fixed;

                transition: 0.5s;
                z-index: 2;
                margin: auto;
            }

            .showcase.active {
                right: 250px;
            }

            /* .showcase video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: 0.8;
            } */

            /* .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #706ea8;
                mix-blend-mode: overlay;
            } */

            .menu {
                position: absolute;
                top: 0;
                right: 0;
                width: 300px;
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .menu ul {
                position: relative;
            }

            .menu ul li {
                list-style: none;
            }

            .menu ul li a {
                text-decoration: none;
                font-size: 24px;
                color: #fff;
            }

            .menu ul li a:hover {
                color: #03a9f4;
            }
        </style>
    </head>

    <body>
        <div class="bg"></div>
        <div class="home">
            <section class="showcase">
                <header>
                    <h2 class="logo">Xpecto</h2>
                    <div class="toggle"></div>
                </header>
                <div class="overlay"></div>

                <!-- SPONSORS  -->

                <!-- Sponsors section-->
                <div>
                    <div class="spon">
                        <div class="heading" id="head-section">
                            <center>
                                <p
                                    style="
                                        font-size: 70px;
                                        padding: 40px;
                                        padding-bottom: 40px;
                                        font-family: 'Open Sans', sans-serif;
                                        color: #fff;
                                    "
                                >
                                    Our Sponsors
                                </p>
                            </center>
                        </div>
                        <a href="userdetail.html"
                            ><div class="s-card">
                                <img
                                    src="images/WhatsAppImage2021-05-17at01.02.12.jpeg"
                                /></div
                        ></a>
                        <a href="userdetail.html"
                            ><div class="s-card">
                                <img
                                    src="images/WhatsAppImage2021-05-17at00.58.42.jpeg"
                                /></div
                        ></a>
                        <a href="userdetail.html"
                            ><div class="s-card">
                                <img
                                    src="images/WhatsAppImage2021-05-17at00.58.55.jpeg"
                                /></div
                        ></a>
                        <a href="userdetail.html"
                            ><div class="s-card">
                                <img
                                    src="images/WhatsAppImage2021-05-17at00.59.10.jpeg"
                                /></div
                        ></a>
                        <a href="userdetail.html"
                            ><div class="s-card">
                                <img
                                    src="images/WhatsAppImage2021-05-17at00.59.10.jpeg"
                                /></div
                        ></a>
                        <a href="userdetail.html"
                            ><div class="s-card">
                                <img
                                    src="images/WhatsAppImage2021-05-17at00.59.28.jpeg"
                                /></div
                        ></a>
                        <a href="userdetail.html"
                            ><div class="s-card">
                                <img
                                    src="images/WhatsAppImage2021-05-17at01.01.52.jpeg"
                                /></div
                        ></a>
                        <a href="userdetail.html"
                            ><div class="s-card">
                                <img
                                    src="images/WhatsAppImage2021-05-17at01.02.02.jpeg"
                                /></div
                        ></a>
                        <a href="userdetail.html"
                            ><div class="s-card">
                                <img
                                    src="images/WhatsAppImage2021-05-17at00.58.55.jpeg"
                                /></div
                        ></a>
                        <a href="userdetail.html"
                            ><div class="s-card">
                                <img
                                    src="images/WhatsAppImage2021-05-17at00.59.10.jpeg"
                                /></div
                        ></a>
                        <a href="userdetail.html"
                            ><div class="s-card">
                                <img
                                    src="images/WhatsAppImage2021-05-17at01.02.02.jpeg"
                                /></div
                        ></a>
                        <a href="userdetail.html"
                            ><div class="s-card">
                                <img
                                    src="images/WhatsAppImage2021-05-17at00.58.55.jpeg"
                                /></div
                        ></a>
                        <a href="userdetail.html"
                            ><div class="s-card">
                                <img
                                    src="images/WhatsAppImage2021-05-17at00.59.10.jpeg"
                                /></div
                        ></a>
                        <a href="userdetail.html"
                            ><div class="s-card">
                                <img
                                    src="images/WhatsAppImage2021-05-17at00.59.10.jpeg"
                                /></div
                        ></a>
                    </div>

                    <!-- Sponsors end -->
                    <!-- FOOTER -->
                    <footer>
                        <div class="footer-content">
                            <h3>Sponsor us</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Porro, minima quas
                                reprehenderit assumenda voluptatibus ipsa quidem
                                enim fugiat labore quos.
                            </p>
                            <ul class="socials">
                                <li>
                                    <a href="#"
                                        ><i class="fa fa-facebook"></i
                                    ></a>
                                </li>
                                <li>
                                    <a href="#"
                                        ><i class="fa fa-twitter"></i
                                    ></a>
                                </li>
                                <li>
                                    <a href="#"
                                        ><i class="fa fa-linkedin-square"></i
                                    ></a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-bottom">
                            <p>
                                copyright &copy; <a href="#">Iit Mandi , HP</a>
                            </p>
                            <div class="footer-menu">
                                <ul class="f-menu">
                                    <li>
                                        <a href=""
                                            >Contact No- +91 6205720019</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </footer>
                </div>
            </section>
            <div class="menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/payment">Register</a></li>
                    <li><a href="/events">Events</a></li>
                    <li><a href="/sponsors">Sponsors</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="contact">Contact</a></li>
                    <li><a href="/about">About Us</a></li>
                </ul>
            </div>
        </div>

        <script src="./js/script.js" type="text/javascript"></script>
    </body>
</html>
