<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta property="og:url" content="https://xpecto.tech/" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Xpecto" />
		<meta
			name="description"
			content="Xpecto is science and technology festival of Indian
        Institute of Technology, Mandi. It has been ramped up to
        include the most electrifying events, prompting great
        discoveries, as well as enthralling brainstorming and
        grand prizes."
		/>
		<meta
			name="keywords"
			content="Event, Expect, Innovate, Achieve, IIT Mandi, TechFest 2022, Xpecto, Technical festival, Techfest IIT Mandi,
        Xpecto 2022, First Technical Festival, Techfest IIT Mandi"
		/>
		<link
			rel="icon"
			type="image/x-icon"
			href="images/xpecto-logo-header.png"
		/>
		<script
			src="https://kit.fontawesome.com/a1542a4884.js"
			crossorigin="anonymous"
		></script>
		<!-- <link rel="stylesheet" href="./static/styles/page.css" /> -->
		<link rel="stylesheet" href="styles/style.css" />
		<!-- <link rel="stylesheet" href="./static/styles/profile.css" /> -->

		<title>Timeline | Xpecto</title>
	</head>

	<style>
		body {
			background: url("images/svg/circles.svg");
		}
		.prof-container {
			padding-top: 6rem;
		}
		.active {
			transform: translateY(-15px);
			color: cyan;
			box-shadow: 0 0 75px -15px cyan;
		}
	</style>

	<body>
		<!-- -----HEADER INCLUDING LOGO AND NAVBAR----- -->
		<%- include ('partials/navbar.ejs') %>
		<!-- -----HEADER END----- -->

		<div class="" id="page">
			<div class="prof-container">
				<!-- <div class="content"></div> -->
				<!-- <h1>TERMS AND CONDITIONS</h1> -->
				<div class="card">
					<div class="dates-dot">
						<div class="dot dot-1 active">
							<div class="date_">13<br />May</div>
							<!-- <span class="circle"></span> -->
						</div>
						<div class="dot dot-2">
							<div class="date_">14<br />May</div>
							<!-- <span class="circle"></span> -->
						</div>
						<div class="dot dot-3">
							<div class="date_">15<br />May</div>
							<!-- <span class="circle"></span> -->
						</div>
						<div class="dot dot-4">
							<div class="date_">16<br />May</div>
							<!-- <span class="circle"></span> -->
						</div>
					</div>

					<div class="block block-1">
						<h3>Day 1 (Friday, 13 May 2022)</h3>
						<div class="schedule-container">
							<div class="schedule">
								<div class="schedule-event">
									Inauguration Ceremony
								</div>
								<div class="schedule-time">1800hrs</div>
							</div>
							<hr />

							<div class="schedule">
								<div class="schedule-event">
									Terrific Trails
								</div>
								<div class="schedule-time">
									2100hrs - 2300hrs
								</div>
							</div>
						</div>
					</div>
					<div class="block block-2 hidden">
						<h3>Day 2 (Saturday, 14 May 2022)</h3>
						<div class="schedule-container">
							<div class="schedule">
								<div class="schedule-event">Archgami</div>
								<div class="schedule-time">
									0900hrs - 1200hrs
								</div>
							</div>
							<hr />

							<div class="schedule">
								<div class="schedule-event">Director</div>
								<div class="schedule-time">
									1100hrs - 1200hrs
								</div>
							</div>
							<hr />

							<div class="schedule">
								<div class="schedule-event">
									DebZ Submission
								</div>
								<div class="schedule-time">1200hrs</div>
							</div>
							<hr />

							<div class="schedule">
								<div class="schedule-event">
									Somehow I Manage - R1
								</div>
								<div class="schedule-time">
									1200hrs - 1600hrs
								</div>
							</div>
							<hr />

							<div class="schedule">
								<div class="schedule-event">
									Keynote - Ramit Sawhney
								</div>
								<div class="schedule-time">1500hrs 1630hrs</div>
							</div>
							<hr />

							<div class="schedule">
								<div class="schedule-event">
									Flodable Flight
								</div>
								<div class="schedule-time">
									1700hrs - 1900hrs
								</div>
							</div>
							<hr />

							<div class="schedule">
								<div class="schedule-event">Dementia</div>
								<div class="schedule-time">2100hrs 2330hrs</div>
							</div>
							<hr />

							<div class="schedule">
								<div class="schedule-event">
									Metro in the Hills Submission
								</div>
								<div class="schedule-time">2400hrs</div>
							</div>
							<hr />

							<div class="schedule">
								<div class="schedule-event">
									Pitch Terra Submission
								</div>
								<div class="schedule-time">2400hrs</div>
							</div>
							<hr />

							<div class="schedule">
								<div class="schedule-event">
									Wires and Wonders Submission
								</div>
								<div class="schedule-time">2400hrs</div>
							</div>
						</div>
					</div>
					<div class="block block-3 hidden">
						<h3>Day 3 (Sunday, 15 May 2022)</h3>
						<div class="schedule-container">
							<div class="schedule">
								<div class="schedule-event">
									Humanoid and Drone Show
								</div>
								<div class="schedule-time">
									1000hrs - 2200hrs
								</div>
							</div>
							<hr />

							<div class="schedule">
								<div class="schedule-event">
									Metro in the Hills - PPT
								</div>
								<div class="schedule-time">
									1000hrs - 1200hrs
								</div>
							</div>
							<hr />

							<div class="schedule">
								<div class="schedule-event">
									Somehow I Manage - R2
								</div>
								<div class="schedule-time">
									1000hrs - 1300hrs
								</div>
							</div>
							<hr />

							<div class="schedule">
								<div class="schedule-event">
									ICSS - Cybersecurity
								</div>
								<div class="schedule-time">
									1100hrs - 1300hrs
								</div>
							</div>
							<hr />

							<div class="schedule">
								<div class="schedule-event">CTF</div>
								<div class="schedule-time">
									1200hrs - 2400hrs
								</div>
							</div>
							<hr />

							<div class="schedule">
								<div class="schedule-event">
									Wires and Wonders - PPT
								</div>
								<div class="schedule-time">
									1200hrs - 1400hrs
								</div>
							</div>
							<hr />

							<div class="schedule">
								<div class="schedule-event">Mudrex Talk</div>
								<div class="schedule-time">
									1400hrs - 1500hrs
								</div>
							</div>
							<hr />

							<div class="schedule">
								<div class="schedule-event">
									Pitch Terra - PPT
								</div>
								<div class="schedule-time">1300hrs 1500hrs</div>
							</div>
							<hr />
							<div class="schedule">
								<div class="schedule-event">DebZ - PPT</div>
								<div class="schedule-time">
									1500hrs - 1730hrs
								</div>
							</div>
							<hr />

							<div class="schedule">
								<div class="schedule-event">
									Somehow I Manage - R3
								</div>
								<div class="schedule-time">
									1700hrs - 1900hrs
								</div>
							</div>
							<hr />

							<div class="schedule">
								<div class="schedule-event">
									Keynote - Pratik Kumar
								</div>
								<div class="schedule-time">
									1700hrs - 1800hrs
								</div>
							</div>
							<hr />

							<div class="schedule">
								<div class="schedule-event">
									Mudrex Workshop
								</div>
								<div class="schedule-time">
									1800hrs - 2000hrs
									<br />
									2100hrs - 2300hrs
								</div>
							</div>
							<hr />

							<div class="schedule">
								<div class="schedule-event">
									Air Velo - Submission
								</div>
								<div class="schedule-time">2400hrs</div>
							</div>
							<hr />

							<div class="schedule">
								<div class="schedule-event">
									Epidemic - Submission
								</div>
								<div class="schedule-time">2400hrs</div>
							</div>
						</div>
					</div>
					<div class="block block-4 hidden">
						<h3>Day 4 (Monday, 16 May 2022)</h3>

						<div class="schedule">
							<div class="schedule-event">Galactic Eye - PPT</div>
							<div class="schedule-time">1000hrs - 1200hrs</div>
						</div>
						<hr />
						<div class="schedule">
							<div class="schedule-event">
								Keynote - Atanu Roy Chowdhury
							</div>
							<div class="schedule-time">1100hrs - 1200hrs</div>
						</div>
						<hr />
						<div class="schedule">
							<div class="schedule-event">
								Robotic Automation Process
							</div>
							<div class="schedule-time">0900hrs - 1600hrs</div>
						</div>
						<hr />
						<div class="schedule">
							<div class="schedule-event">
								Vision Verse Submission
							</div>
							<div class="schedule-time">1200hrs</div>
						</div>
						<hr />

						<div class="schedule">
							<div class="schedule-event">Rachna Submission</div>
							<div class="schedule-time">1200hrs</div>
						</div>
						<hr />

						<div class="schedule">
							<div class="schedule-event">Mudrex Talk</div>
							<div class="schedule-time">1400hrs - 1500hrs</div>
						</div>
						<hr />

						<div class="schedule">
							<div class="schedule-event">India Trek Talk</div>
							<div class="schedule-time">1600hrs - 1700hrs</div>
						</div>
						<hr />
						<div class="schedule">
							<div class="schedule-event">Closing Ceremony</div>
							<div class="schedule-time">1800hrs</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="scripts/script.js"></script>
		<script src="scripts/ejs.js"></script>
		<script src="scripts/timeline.js"></script>
	</body>
</html>
