<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="styles/style.css" />
        <link rel="stylesheet" href="styles/page.css" />
        <link
            rel="icon"
            type="image/x-icon"
            href="images/xpecto-logo-header.png"
        />
        <script
            src="https://kit.fontawesome.com/a1542a4884.js"
            crossorigin="anonymous"
        ></script>

        <title>Document</title>
    </head>
    <style>
        @media (max-width: 768px) {
            #page .container {
                display: none;
            }
            #page .content {
                background: rgba(0, 37, 84, 0.3);
                box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
                backdrop-filter: blur(2.5px);
                -webkit-backdrop-filter: blur(2.5px);
                border: 1px solid rgba(255, 255, 255, 0.18);
                border-radius: 10px;
            }
        }
    </style>
    <body>
        <!-- -----HEADER INCLUDING LOGO AND NAVBAR----- -->
        <header class="header-glass active">
            <div>
                <img src="images/xpecto-logo-header.png" alt="" />
                <span>XPECTO'22</span>
            </div>
            <nav>
                <a id="" href="/#home">Home</a>
                <a id="" href="/#about">About Us</a>
                <a id="" href="/#contact">Contact Us</a>
                <a id="" href="/#sponsors">Sponsors</a>
                <a id="faq" href="#">Faq</a>
                <a id="" href="/#events">Events</a>
                <% if(!authenticated){ %>
                <a id="sign" href="/auth/google"
                    ><i class="fa-brands fa-google"></i> SignIn</a
                >
                <% }else{ %>
                <a id="sign" href="/profile"><i class=""></i> Profile</a>
                <a id="sign" href="/auth/logout"
                    ><i class="fa-brands fa-google"></i> Logout</a
                >
                <% } %>
            </nav>
            <div class="hamburger">
                <img class="toggle" src="images/menu_open.svg" alt="" />
            </div>
        </header>

        <!-- -----HEADER END----- -->

        <div class="" id="page">
            <div class="container">
                <div class="heading">
                    <span>Terms</span>
                    <span>and</span>
                    <span>Conditions</span>
                </div>
            </div>
            <div class="content">
                BY EXECUTING THIS AGREEMENT I CONSENT FORM, YOU ARE EXPRESSLY
                AGREEING TO ACCESS THE EXPERIAN CREDIT INFORMATION REPORT AND
                CREDIT SCORE, AGGREGATE SCORES, INFERENCES, REFERENCES AND
                DETAILS (AS DEFINED BELOW)(TOGETHER REFERRED AS "CREDIT
                INFORMATION"). YOU HEREBY ALSO IRREVOCABLY AND UNCONDITIONALLY
                CONSENT TO SUCH CREDIT INFORMATION BEING PROVIDED BY EXPERIAN TO
                YOU AND Razorpay BY USING EXPERIAN TOOLS, ALGORITHMS AND DEVICES
                AND YOU HEREBY AGREE, ACKNOWLEDGE AND ACCEPT THE TERMS AND
                CONDITIONS SET FORTH HEREIN.
                <br />
                Razorpay shall access your Credit Information as your authorized
                representative and Razorpay shall use the Credit Information for
                limited End Use Purpose consisting of and in relation to the
                services proposed to be availed by you from Razorpay. We shall
                not aggregate, retain, store, copy, reproduce, republish,
                upload, post, transmit, sell or rent the Credit Information to
                any other person and the same cannot be copied or reproduced
                other than as agreed herein and in furtherance to CICRA. The
                Parties agree to protect and keep confidential the Credit
                Information both online and offline. The Credit Information
                shared by you, or received on by us on your behalf shall be
                destroyed, purged, erased promptly within 1 (one) Business Day
                of upon the completion of the transaction/ End Use Purpose for
                which the Credit Information report was procured.
                <br />
                <br />
                <h4>GOVERNING LAW AND JURISDICTION</h4>
                The relationship between you and Razorpay shall be governed by
                laws of India and all claims or disputes arising there from
                shall be subject to the exclusive jurisdiction of the courts of
                Mumbai.
                <br />
                Definitions: Capitalised terms used herein but not defined above
                shall have the following meanings:
                <br />
                <br />
                <h4>BUSINESS DAY</h4>
                means a day (other than a public holiday) on which banks are
                open for general business in Mumbai.
                <br />
                <br />
                <h4>CREDIT INFORMATION REPORT</h4>
                means the credit information / scores/ aggregates / variables /
                inferences or reports which shall be generated by Experian;
            </div>
        </div>
        <script src="scripts/script.js"></script>
    </body>
</html>
