#page {
    background-image: url("../images/svg/Hexagon.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    filter: saturate(75%);
    display: flex;
}
body {
    background: url("../images/svg/hexagon.svg");
    background-attachment: fixed;
}
#page .container {
    position: sticky;
    bottom: 0;
    top: 0;
    left: 0;
    padding-top: 5rem;
    width: 50%;
    height: 100vh;
    color: white;
    background-color: rgb(0, 20, 47);
    transform: skewX(7.5deg) translateX(-100px);
}
#page .heading {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 2rem;
    padding-top: 7.5rem;
    padding-left: 3rem;
    font-size: 2.5rem;
    line-height: 1.75;
    font-weight: bold;
}
#page span {
    transform: skew(-7.5deg);
}
#page .content {
    color: white;
    padding: 2rem;
    margin: 5rem 2rem 2rem 2rem;
    line-height: 1.75;
}

#page .content h4 {
    text-align: center;
    margin: 0.25rem;
    font-size: 1.25rem;
}

@media (max-width: 768px) {
    #page .container {
        display: none;
    }
}
