@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
}

.hidden {
    display: none;
}
body {
    padding: 0;
}
header a{
    text-decoration: none;
}
/* -----HEADER DESIGNING----- */
header img {
    width: 50px;
    margin: 5px;
}

header span {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

header {
    z-index: 100;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-glass {
    background: rgb(0, 20, 47);
    transition: 0.3s;
}

.header-glass.active {
    background: rgba(0, 27, 61, 0.911);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    transition: 0.3s;
}

header div {
    display: flex;
    align-items: center;
}
/* -----NAVBAR DESIGNING----- */
nav {
    display: flex;
    transition: 0.5s;
}

nav a {
    box-shadow: 0 0 50px -15px #8b9ad9;
    padding: 7.5px;
    border-radius: 5px;
    font-weight: 500;
    color: white;
    margin: 10px;
    text-decoration: none;
    transition: 0.25s;
    letter-spacing: 0.001px;
}

nav a:hover {
    transition: 0.25s;
    box-shadow: 0 0 50px -12.5px #34f5c8;
    color: #34f5c8;
    background-color: rgba(31, 38, 135, 0.37);
}

.hamburger {
    display: none;
}
.hamburger:hover {
    cursor: pointer;
}
.hamburger img {
    border-radius: 5px;
    transition: 1s;
    fill: white;

    width: 30px;
}

@media (max-width: 950px) {
    header span {
        font-size: 1.25rem;
    }
    nav a {
        font-size: 0.9rem;
    }
}

@media (max-width: 1300px) {
    header div span {
        display: none;
    }
}

@media (max-width: 1300px) {
    .header-glass.active {
        background-color: rgb(0, 20, 47);
    }
    nav {
        position: absolute;
        width: 100%;
        top: 75px;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(0, 20, 47);
        display: none;
        transition: all 0.5s ease;
    }
    nav a {
        font-size: 1.25rem;
        box-shadow: none;
        text-align: center;
        width: 100%;
        padding: 7.5px;
        margin: 5px;
    }
    nav a:hover {
        font-size: 1.5rem;
        background-color: rgb(0, 20, 47);
        box-shadow: none;
        color: rgba(2, 84, 200, 1);
        letter-spacing: 0.5px;
    }

    .hamburger {
        display: block;
    }

    header div span {
        display: block;
    }
}

/* -----DESIGNING OF COUNTER SECTION-----  */
#counter {
    background-image: linear-gradient(
        to right bottom,
        #010022,
        #02022d,
        #010337,
        #000541,
        #00044b,
        #010449,
        #020548,
        #030546,
        #060539,
        #09042c,
        #07021f,
        #020111
    );
    background-attachment: fixed;
    padding: 5rem 2rem 2rem 2rem;
}

#counter .floating-logo img {
    width: 300px;
    animation: float 1.5s infinite;
}
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-25px);
    }
    100% {
        transform: translateY(0);
    }
}

#counter .content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#counter .countdown {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.countdown .heading {
    font-size: 1.5rem;
    color: white;
}
.countdown div {
    margin: 1rem;
}
#counter p {
    margin-top: 0.5rem;
    color: white;
    font-size: 4rem;
    font-weight: bold;
    width: 125px;
    height: 125px;
    text-align: center;
    border-radius: 10px;
    background-color: #060539;
    padding: 1rem;
    box-shadow: 0 0 20px -20px black;
    transition: 0.3s;
}
#counter p:hover {
    transform: translateY(-2.5px);
    box-shadow: 0 20px 50px -10px black;
    transition: 0.3s;
}

/* -----ABOUT US SECTION DESIGNING----- */
#about {
    background-image: url("../images/svg/polygon.svg");
    background-attachment: fixed;
    color: white;
    padding: 3rem 0 2rem 0;
}

#about .heading {
    z-index: 1;
    color: white;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}

#about .content {
    z-index: 1;
    padding: 2rem;
    font-size: 1.25rem;
    line-height: 1.5;
    background: rgba(0, 10, 22, 0.3);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
}
#about .pages-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#about .pages-btn a {
    margin: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    padding: 0;
}

.event-join-link {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}
.btn1-event-join {
    font-size: 2rem;
}
#about .btn1,
.btn1-event-join {
    letter-spacing: -1px;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 15px;
    color: white;
    background-color: rgba(2, 84, 200, 1);
    border: 2.5px solid rgba(2, 84, 200, 1);
    padding: 0.5rem 1rem;
    transition: 0.3s;
    box-shadow: 0 10px 50px 0 black;
}
#about .btn1:hover,
.btn1-event-join:hover {
    background-color: rgba(0, 20, 47);
    cursor: pointer;
    transition: 0.3s;
    transform: translateY(-5px);
}
#about .btn1:active {
    transition: 0.3s;
    transform: translateY(2px);
}
.btn1-event-join {
    font-size: 2.25rem;
}

/* -----CONTACT SECTION DESIGNING----- */
#contact .heading {
    margin-bottom: 3.5rem;
    color: white;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}
#contact {
    padding: 3rem 1rem 3rem 1rem;
    background-image: url("../images/svg/circles.svg");
    background-color: rgb(0, 10, 22);
    background-attachment: fixed;
    color: white;
}

#contact .card {
    margin: 1rem;
    width: 300px;
    height: 250px;
    background: rgba(0, 37, 84, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    transition: 0.3s;
}
#contact .card:hover {
    transform: translateY(-10px);
    transition: 0.3s;
}
#contact .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#contact .card {
    padding: 1rem;
}
#contact .content i {
    margin-bottom: 2rem;
    margin-top: 1rem;
}

#contact .phone-content .phone a div {
    margin-bottom: 0.5rem;
}
#contact .phone-content .phone {
    margin-top: 1rem;
}
/* -----DESIGNING OF RIBBON FOLDING EFFECT ON CONTACT CARDS----- */
.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
}
.ribbon::before,
.ribbon::after {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    border: 5px solid rgba(2, 84, 200, 1);
}
.ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 15px 0;
    background-color: rgba(2, 84, 200, 1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    text-align: center;
}

.ribbon-top-left {
    top: -10px;
    left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
}
.ribbon-top-left::before {
    top: 0;
    right: 0;
}
.ribbon-top-left::after {
    bottom: 0;
    left: 0;
}
.ribbon-top-left span {
    right: -25px;
    top: 30px;
    transform: rotate(-45deg);
}

.address-content,
.phone-content,
.email-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.email-content .email {
    margin-top: 2rem;
}

.email-content a,
.phone-content a {
    text-decoration: none;
    color: #ffff;
}

.phone-content .phone {
    margin-top: 1rem;
}
.phone div:nth-child(1),
.phone div:nth-child(2) {
    margin-bottom: 0.25rem;
}

.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.social div {
    text-decoration: none;
    padding: 0.5rem;
    transition: 0.3s;
    margin: 1rem;
}
.social div:hover {
    transform: translateY(-5px);
    transition: 0.3s;
    cursor: pointer;
}
#contact .social div i {
    padding: 0;
    margin: 0;
    color: white;
}

/* -----SPONSORS SECTION DESIGNING----- */
#sponsors {
    padding: 3rem 2rem 3rem 2rem;
    background-image: linear-gradient(
        to right bottom,
        #030060,
        #04005e,
        #04005c,
        #05005b,
        #050059,
        #030253,
        #02044c,
        #030546,
        #060539,
        #09042c,
        #07021f,
        #020111
    );
    background-attachment: fixed;
}

#sponsors .heading,
#faq .heading {
    color: white;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}

#sponsors .spon,
#faq .faq-soon {
    padding: 1rem;
    margin: 1rem;
    background-color: #060539;
    border-radius: 5px;
    transition: 0.3s;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

#sponsors .spon:hover,
#faq .faq-soon:hover {
    box-shadow: 0 20px 50px -15px black;
    transform: translateY(-2.5px);
    transition: 0.3s;
}
#sponsors img {
    width: 200px;
}

#sponsors .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* -----EVENTS PAGE DESIGNING----- */
.events-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.event-card-container {
    text-align: center;
    width: 350px;
    /* height: 500px; */
    padding: 1rem;
    border-radius: 7.5px;
    margin: 1rem;
    background-color: rgba(0, 75, 180, 0.75);
    backdrop-filter: blur(5px) saturation(200%);
    -webkit-backdrop-filter: blur(7px) saturation(200%);
    transition: 0.3s;
    display: flex;
    justify-content: flex-end;
}

.event-card-container:hover {
    background-color: rgba(2, 84, 200, 1);
    transform: translateY(-5px);
    box-shadow: 0 10px 25px -15px black;
    transition: 0.3s;
}
.event-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.2rem;
}
.event-register,
.event-problem,
.info,
.desc-btn {
    font-size: 0.9rem;
    font-weight: bold;
    border: 2px solid rgb(0, 20, 47);
    border: none;
    border-radius: 10px;
    background-color: rgb(0, 20, 47);
    color: white;
    padding: 0.5rem 0.75rem;
    margin: 0.5rem 0.1rem;
    transition: 0.3s;
}
.event-register,
.event-problem {
    width: 125px;
}
.info {
    border-radius: 50%;
    padding: 0.75rem;
}

.event-register:hover,
.event-problem:hover,
.info:hover,
.desc-btn:hover {
    background-color: rgba(0, 20, 47, 0.75);
    transition: 0.3s;
    cursor: pointer;
}
.info:hover {
    transform: translateX(5px);
}
.desc-btn {
    /* padding: 1rem; */
    border-radius: 50%;
    /* width: 20px; */
    margin-left: auto;
    margin-right: auto;
}
.event-description {
    font-size: 0.9rem;
    margin: 0.5rem 0.25rem;
}



hr {
    border-color: white;
    border-bottom: none;
}
@media (max-width: 480px) {
    .event-card-container {
        margin: 1rem 0;
        /* padding: 1rem ; */
        width: 90%;
    }
    .event-name {
        font-size: 1.25rem;
    }
    .event-description {
        font-size: 0.8rem;
    }
}

/* -----STYLING FAQ SECTION----- */

#faq {
    background-image: url("../images/svg/circles.svg");
    background-color: rgb(0, 10, 22);
    background-attachment: fixed;
    color: white;
    padding: 3rem 2rem 3rem 2rem;
}
#faq .faq-container {
    display: flex;

    align-items: center;
    justify-content: center;
}
.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
}

.container {
    width: 40%;
    background-color: rgb(0, 20, 47);
    color: white;
    border-radius: 20px;
    box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.25);
    margin: 0.5rem 1rem;
    transition: 0.25s;
}
.container:hover {
    transform: translateY(-5px);
    transition: 0.25s;
}
.question {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 20px 80px 20px 20px;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.question::after {
    content: "\002B";
    font-size: 2.2rem;
    position: absolute;
    right: 20px;
    transition: 0.2s;
}

.question.active::after {
    transform: rotate(45deg);
}

.answercont {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
}

.answer {
    padding: 0 20px 20px;
    line-height: 1.5rem;
}

.question.active + .answercont {
}

@media screen and (max-width: 800px) {
    .wrapper {
        width: 95%;
    }
    .container {
        width: 95%;
    }
}

/* Event CARD description expand   */
.desc-btn {
    /* padding: 0.1rem; */
    font-size: 0.9rem;
    font-weight: bold;
    /* padding: 20px 80px 20px 20px; */
    position: relative;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0.2rem;
    border-radius: 50%;
    width: 25px;
    margin-top: 0;
    margin-bottom: 0;
}

.desc-btn::after {
    content: "\2193";
    font-size: 0.9rem;
    /* position: absolute; */
    /* right: 20px; */
    transition: 0.2s;
    /* transform: rotate(180deg); */
}

.desc-btn.active::after {
    transform: rotate(180deg);
}

.desc-cont {
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
}

.desc {
    padding: 0 20px 20px;
    line-height: 1.5rem;
}
