<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%- title %></title>
        <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-light mb-5" style="background-color: #22527b">
            <div class="container">
                <a class="navbar-brand mx-auto" href="/">
                    <img
                        src="https://user-images.githubusercontent.com/56690827/160768243-76239809-a9da-41f3-a270-ba9bdd205797.svg"
                        alt="logo"
                        class="d-inline-block align-top pull-left"
                    />
                </a>
            </div>
        </nav>
        <div class="d-flex justify-content-center">
            <form method="POST" action="/payment/order">
                <div class="mb-3">
                    <label for="amountInput" class="form-label"
                        >Enter Amount</label
                    >
                    <input
                        name="amount"
                        type="number"
                        min="1"
                        class="form-control form-control-lg"
                        id="amountInput"
                        aria-describedby="amountHelp"
                        required
                    />
                    <div id="amountHelp" class="form-text">
                        Bhaiyon aur Beheno, ek rupaiya, sau rupaiya. Kuch bhi
                        chalega.
                    </div>
                </div>

                <div class="d-grid">
                    <button
                        type="submit"
                        class="btn btn-primary"
                        id="getOrderIdBtn"
                    >
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </body>
</html>
