<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Grand - Event and Conference Template</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="css/animate.css">
  <!-- Main Style -->
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <!-- Responsive Style -->
  <link rel="stylesheet" type="text/css" href="css/responsive.css">

</head>

<body>

  <!-- Header Area wrapper Starts -->
  <header id="header-wrap">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar">

    </nav>
    <!-- Navbar End -->

    <!-- Main Carousel Section Start -->
    <div id="main-slide" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100 bg-img" src="./static/images/event.jpg" alt="First slide">
          <div class="carousel-caption d-md-block">
            <h1 class="wow fadeInDown heading" data-wow-delay=".4s">Reel-o-logy</h1>
            <a href="#" class="fadeInLeft wow btn btn-common btn-lg" data-wow-delay=".6s">Register</a>
            <a href="#" class="fadeInRight wow btn btn-border btn-lg" data-wow-delay=".6s">Rulebook</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Main Carousel Section End -->

  </header>
  <!-- Header Area wrapper End -->

  <!-- Coundown Section Start -->
  <section class="countdown-timer section-padding">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="heading-count">
            <h2 class="wow fadeInDown" data-wow-delay="0.2s">Event Will Start In</h2>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="row time-countdown justify-content-center wow fadeInUp" data-wow-delay="0.2s">
            <div id="clock" class="time-count"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Coundown Section End -->

  <!-- Services Section Start -->
  <section id="services" class="services section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-header text-center">
            <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Event Discription</h1>
            <p class="wow fadeInDown" data-wow-delay="0.2s">Do you ever feel like you are destined to be an Instagram
              star, born to unleash your creativity, imagination and flair through the world of reels? Or do you crave
              the gratification that is unbridled in pursuing the realm of science and technology? Well, XPECTO’22 is
              here to deliver to you the best of both worlds.
              In this pre-event you will get to show off your creativity by creating Instagram reels that are centered
              around science and technology.
              Participants will be required to send their submissions to the Submission link.
            </p>
            <h3 class="text-center">Timeline</h3>
            <p>Participants must submit their Reels from 26th April , 2022 8:00 PM to 13th May , 2022 11:59 PM</p>
            <h3 class="text-center">Submission</h3>
            <p>You have to submit your reels through this <a
                href="https://docs.google.com/forms/d/1vwsY8J0Bl3NDHPoiJmYsU3-Hc8CNgm4ikaCilGZcGPU/edit">Submission
                link.</a>
            </p>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- Services Section End -->


  <!-- Counter Area Start-->
  <section class="counter-section section-padding">
    <div class="container">
      <h1 class="section-title wow fadeInUp dark-heading" data-wow-delay="0.2s">Prizes</h1>
      <div class="row">
        <!-- Counter Item -->
        <div class="col-md-6 col-lg-4 col-xs-12 work-counter-widget text-center">
          <div class="counter wow fadeInRight" data-wow-delay="0.3s">
            <div class="icon dark-heading">
              <h1>1st Place</h1>
            </div>
            <p> Rs. 3000</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xs-12 work-counter-widget text-center">
          <div class="counter wow fadeInRight" data-wow-delay="0.3s">
            <div class="icon dark-heading">
              <h1>2nd Place</h1>
            </div>
            <p> Rs. 2000</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xs-12 work-counter-widget text-center">
          <div class="counter wow fadeInRight" data-wow-delay="0.3s">
            <div class="icon dark-heading">
              <h1>3rd Place</h1>
            </div>
            <p> Rs. 1000</p>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- Counter Area End-->

  <!-- Services Section Start -->
  <section id="services" class="services section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-header text-center">
            <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Rules and Regulations</h1>
            <ul class="rules-ul">
              <li>1. Participants must submit only One Reel throughout the event.</li>
              <li>2. The reel must be made within the timeframe of the Event </li>
              <li>3. Participants must submit their Reel from 26th April , 2022 8:00 PM to 13th May , 2022 11:59 PM
              </li>
              <li>4. Any kind of inappropriate content would be immediately disqualified. </li>
              <li>5. Any sign of plagiarism will lead to disqualification.
              </li>
              <li>6. Participants must submit an overall description of the Reel. ( Word Limit : 50 words ) </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="services section-padding">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title-header text-center">
            <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Judging Criteria</h1>
           <p>The Reels will be uploaded on XPECTO’s Instagram within a few days of your submission. 
          </p>
          <p>50% of the total marks will be decided by the judges according to the following factors with given weightage :
          </p>
          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">Factors</th>
                <th scope="col">Weightage</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Concept and technical knowledge	</td>
                <td>20%</td>
              </tr>
              <tr>
                <td>Overall Impact, Creativity and uniqueness</td>
                <td>20%</td>
              </tr>
              <tr>
                <td>Editing and post-processing	</td>
                <td>10%</td>
              </tr>  
            </tbody>
          </table>
          <p>50% of the remaining total marks will be decided by the engagement of your reels such as likes , comments and shares . Their respective points are :
          </p>
          <table class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">Factors</th>
                <th scope="col">Weightage</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Comments	</td>
                <td>20%</td>
              </tr>
              <tr>
                <td>Shares</td>
                <td>20%</td>
              </tr>
              <tr>
                <td>Likes</td>
                <td>10%</td>
              </tr>  
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer Section Start -->
  <footer class="footer-area section-padding">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 wow fadeInUp " data-wow-delay="0.2s">
          <h3>Note:</h3>
          <p>
            In case of any dispute, the decision of the organizing committee will be final.
          </p><br>
          <p>In case of any doubt/concern regarding the event, either call or email the coordinator.</p>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
          <h3>Other Events</h3>
          <ul>
            <li><a href="#">Frosthack</a></li>
            <li><a href="#">Frosthack</a></li>
            <li><a href="#">Frosthack</a></li>
            <li><a href="#">Frosthack</a></li>
            <li><a href="#">Frosthack</a></li>
          </ul>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
          <h3>Coordinators:</h3>
          <p>Kishan Sharma</p>
          <p>+91 8000543233 </p>
          <p>
            b20294@students.iitmandi.ac.in
          </p>
          <br>
          <p>Ekansh Singh</p>
          <p>
            +91 7667157872 </p>
          <p>
            b21154@students.iitmandi.ac.in
          </p>

        </div>
      </div>
    </div>
    </div>
    </div>
  </footer>
  <!-- Footer Section End -->


  <!-- Go to Top Link -->
  <a href="#" class="back-to-top">
    <i class="lni-chevron-up"></i>
  </a>

  <div id="preloader">
    <div class="sk-circle">
      <div class="sk-circle1 sk-child"></div>
      <div class="sk-circle2 sk-child"></div>
      <div class="sk-circle3 sk-child"></div>
      <div class="sk-circle4 sk-child"></div>
      <div class="sk-circle5 sk-child"></div>
      <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
      <div class="sk-circle8 sk-child"></div>
      <div class="sk-circle9 sk-child"></div>
      <div class="sk-circle10 sk-child"></div>
      <div class="sk-circle11 sk-child"></div>
      <div class="sk-circle12 sk-child"></div>
    </div>
  </div>

  <script src="js/jquery-min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/wow.js"></script>
  <script src="js/jquery.slicknav.js"></script>
  <script src="js/main.js"></script>

</body>

</html>